// FONT

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  font-family: $sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}

// LAYOUT

// .container {
//   width: 100% - 2 * $site-gutter;
//   max-width: $site-width;
//   margin-right: auto;
//   margin-left: auto;
// }

.wrapper {
  background-image: linear-gradient(-212deg, #6EFFD2 0%, #6369D1 100%);
  height: 100vh;
}
