// Site
$site-width:  960px;
$site-gutter: 7.5%;

// Breakpoints
$tablet:  768px;
$desktop: 1024px;

// Fonts
$sans: 'Heebo', sans-serif;

// Colors
$white: #fff;
$grey: #f7f7f7;
$red: #ea5d5d;
$aqua: #8cecce;
// $aqua: hsla(161%, 100%, 72%, 1);
$aqua-dark: #4bbd9a;
$purple: hsla(237%, 54%, 60%, 1);
$black: hsla(0%, 0%, 18%, 1);
$blue-dark: hsla(216%, 39%, 28%, 1);
$blue: hsla(219%, 29%, 29%, 1);

/* RGB */
// $color1: rgba(110, 255, 210, 1);
// $color2: rgba(99, 105, 209, 1);
// $color3: rgba(47, 47, 47, 1);
// $color4: rgba(43, 65, 98, 1);
// $color5: rgba(52, 67, 94, 1);
