// Activity List and Card Styling

.activity-list {
  width: 600px;
  margin: 2em auto;
  padding: 0 10px;
  text-align: center;
}

.activity {
  margin-bottom: 1em;
  box-shadow: 0 6px 12px rgba($black, 0.24);
  border-radius: 8px;
}

.report-overview {
  background-color: $grey;
  padding: 10px 20px;
}

.report-title {
  display: inline-block;
  margin-right: 20px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}

// .report-results {
//   margin: 0 30px;
// }

// .team {
//   width: 50%;
//   display: inline-block;
//   padding: 15px 25px;
//   color: $white;
//   border-bottom: 1px solid $blue;
//   color: $blue;

//   &.team--alpha {
//     border-color: #ea5d5d;
//     color: #ea5d5d;
//   }
// }

.team {
  position: relative;
  display: inline-block;
  padding: 17px 25px;
  color: $blue;

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 6px;
    width: 6px;
    background: $red;
  }

  &.team--alpha {
    color: #ea5d5d;
  }
}

.team-name {
  font-weight: 400;
  letter-spacing: 1px;
}

.score-divider {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

// .team-score {

// }

.activity-report {
  position: relative;
  background: $white;
  margin-top: -5px;
  color: $blue-dark;
}

.activity-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
  list-style: none;
  height: 260px;
  width: 100%;
  padding: 0 5px 20px;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $blue;
  text-align: left;
  color: $white;
  cursor: pointer;
  transform: translateY(0);
  transition: all 350ms ease;

  // &:hover {
  //   transform: translateY(-2px);
  //   box-shadow: 0 8px 14px rgba($black, 0.18);
  // }
}

.activity-card__details {
  flex: 0 0 auto;
  justify-self: flex-start;
  margin-bottom: auto;
  display: flex;
  flex-flow: row;
  padding-right: 10px;
  letter-spacing: .025em;
  font-size: 1.4rem;
  font-weight: 300;
  justify-content: flex-start;
  align-content: flex-start;
}

.details-mode {
  margin: auto 0;
}

.details-time {
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
  text-transform: capitalize;
}

.activity-icon {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  padding: 10px;
  // box-shadow: 0 5px 16px rgba(0, 0, 0, 0.12);
  // background: $blue;
}

.card-title-wrapper {
  padding: 0 10px;
}

.card__title {
  display: inline-block;
  color: $white;
  // background: $white;
  // padding: 3px 12px 0;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.025em;
  font-weight: 400;
  font-size: 2.8rem;
}

.activity-card__content {
  padding: 0 10px;
}

.content-results {
  display: inline-block;
  margin-right: 0.5em;
  padding: 4px 10px 2px;
  border: 1px solid $white;
  color: $white;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 1.4rem;
}
