// Activity List and Card Styling

.activity-list {
  max-width: 620px;
  margin: 2em auto;
  padding: 0 10px;
  text-align: center;
}

.activity {
  margin-bottom: 1em;
  box-shadow: 0 6px 12px rgba($black, 0.24);
  border-radius: 10px;
}

.activity-card {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
  list-style: none;
  height: 200px;
  width: 100%;
  padding: 0 0 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $blue;
  text-align: left;
  color: $white;
  cursor: pointer;
  transform: translateY(0);
  transition: all 350ms ease;

  @include min($tablet) {
    height: 280px;
    padding: 0 0 20px;
  }

  &::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba($white, 0), rgba($blue, 0.6));
    z-index: 1;
    border-radius: 10px;
  }

  // &:hover {
  //   transform: translateY(-2px);
  //   box-shadow: 0 8px 14px rgba($black, 0.18);
  // }
}

.activity-card__details {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
  justify-self: flex-start;
  margin-bottom: auto;
  display: flex;
  flex-flow: row;
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 5px;
  letter-spacing: .025em;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: flex-start;
  align-content: flex-start;
}

.details-mode {
  margin: auto 0;
}

.details-time {
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
  text-transform: capitalize;
}

.activity-icon {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  padding: 10px;
}

.card-title-wrapper {
  padding: 0 20px;
}

.card__title {
  position: relative;
  z-index: 10;
  display: inline-block;
  color: $white;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.015em;
  font-weight: 500;
  font-size: 2.4rem;

  @include min($tablet) {
    font-size: 2.8rem;
  }
}

.activity-card__content {
  position: relative;
  top: -2px;
  z-index: 10;
  padding: 0 20px;
}

.content-results {
  display: inline-block;
  // margin-right: 0.5em;
  // padding: 4px 10px 2px;
  // border: 1px solid $white;
  color: $white;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 1.4rem;
}
