// Character list and card styles.

.character-list {
  margin: 0 auto;
  padding: 0;
  width: 380px;
}

.character-list__item {
  position: relative;
  height: 80px;
  margin-bottom: 1.25em;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  list-style: none;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.28);
  transition: all 150ms ease;
  transform: translateY(0);

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
  }
}

.character {
  display: flex;  
  height: 100%;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  color: $white;
  font-size: 1.6rem;
}

.character-content {
  flex: 1;
  padding-left: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.character-class {
  flex: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.character-detail {
  flex: 0 0 auto;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.character-detail--level {
  margin-right: 0.5em;
}

.light-icon {
  position: relative;
  top: -4px;
  display: inline-block;
  padding-right: 4px;
  transform: rotate(45deg);
  color: $aqua;
  font-size: 8px;
}

.character-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  height: 25px;
  width: 25px;

  svg {
    fill: $white;
  }
}
