// Form component and styling.

.form {
  position: relative;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    opacity: 0.22;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
    height: 160px;
    width: 160px;
    border: 1px solid $white;
    pointer-events: none;
  }
}

.form-label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-weight: 500;
  letter-spacing: 5.25px;
}

.form-label--transparent {
  opacity: 0.6;
}
