// Medals component

.medals {
  padding: 20px;
  text-align: left;
}

.medals-header {
  padding: 10px; 
  color: $blue-dark;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.medal {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.medal-icon {
  height: auto;
  width: 90px;
}

.medal-count {
  position: absolute;
  top: -9px;
  right: -5px;
  display: inline-block;
  background: $aqua-dark;
  color: $white;
  padding: 2px 9px 1px;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 300;
}

.tooltip {
  background: $black;
  font-weight: 300;

  &.__react_component_tooltip {
    padding-left: 15px;
    padding-right: 15px;

    &.show {
      opacity: 1;
    }
  }

  strong {
    letter-spacing: 0.025em;
    font-weight: 400;
  }
}
