// Match Report component.

.activity-report {
  position: relative;
  z-index: 10;
  background: $white;
  color: $blue-dark;
}

// content: '';
// width: 100%;
// height: 100vh;
// opacity: 0.2;
// /* height: 800px; */
// position: fixed;
// background-image: url(https://i.kinja-img.com/gawker-media/image/upload/s--JmBsdEso--/c_scale,fl_progressive,q_80,w_1600/bqbavmphfqo4ultokggl.jpg);

.report-nav {
  padding: 0 10px;
  text-align: left;

  @include min($tablet) {
    padding: 0 20px;
  }
}

.report-nav__item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  padding: 20px 0 10px;
  color: rgba($black, 0.6);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  opacity: 1;
  transition: all 200ms ease;

  @include min($tablet) {
    margin-right: 35px;
    padding: 25px 0 10px;
    font-size: 1.4rem;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 2px;
    background: $grey;
    z-index: 1;
  }

  &::before {
    z-index: 10;
    transform: scaleX(0);
    transform-origin: left;
    background: $aqua-dark;
    transition: all 200ms ease-in;
  }

  &.is-active {
    opacity: 1;
    color: $aqua-dark;

    &::before {
      transform: scaleX(1);
    }
  }
}
