.report-scoreboard {
  padding: 0 20px 20px;
  background: $white;
}

.score-board__team {
  margin-bottom: 0.5em;
  padding-top: 1em;
  text-align: left;
  color: $blue;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.025em;

  &.score-board__team--alpha {
    color: #ea5d5d;
  }
}

.score-board__total {
  display: inline-block;
  margin-right: 15px;
  padding: 14px 15px 12px;
  line-height: 1;
  background: $blue;
  color: $white;
  letter-spacing: 1px;
  font-size: 2.2rem;
  font-weight: 400;

  &.score-board__total--alpha {
    background: #ea5d5d;
  }
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 1.4rem;
  font-weight: 300;
}

.table-header {
  padding: 5px;
  border-bottom: 1px solid $blue-dark;
  text-align: right;
  font-weight: 400;

  &:first-of-type {
    text-align: left;
  }
}

.table-row {
  border-bottom: 1px solid #f9f9f9;

  &:nth-child(odd) {
    background: #f7f7f7;
  }
}

.table-column {
  padding: 5px;
  text-align: right;

  &:first-of-type {
    text-align: left;
  }
}
